<!DOCTYPE html>
<html ng-app="mappersApp">
<head>
  <title>Mappers</title>

  <!-- External Modules -->
  <script src="/js/vendor/angular/angular.min.js"></script>
  <script src="/js/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="/js/vendor/satellizer/satellizer.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.js"></script>

  <!-- google map drawing and geometry library -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxM36DxD-TmmCuWMML0UXBVSirOUkF42Q&signed_in=true&libraries=drawing,geometry"></script>


  <!-- Internal Modules -->
  <!-- JAVASCRIPT -->
  <script src="/js/app.js"></script>
  <script src="/js/controllers/mainController.js"></script>
  <script src="/js/services/oauthKeys.js"></script>
  <script src="/js/services/token.js"></script>
  <script src="/js/directives/gmaps.js"></script>
<!--   <script src="/js/controllers/usersController.js"></script> -->
  <script src="/js/controllers/eventsController.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body ng-controller="MainController as main">
<!-- login/register form -->
  <div class="loginForm">
    <div ng-hide="main.isLoggedIn()">
      <h1>Mappers</h1>
      <h3>Login with Facebook</h3>
      <button class="facebook" ng-click="main.authenticate('facebook')"><i class="fa fa-facebook-square"></i> Sign in with Facebook</button>
    </div>
    <div ng-show="main.isLoggedIn()">
      <img ng-src="{{ main.currentUser.picture }}">
      <h2>{{ main.currentUser.name }}</h2>
      <hr>
      <button class="logout" ng-click="main.logout()"><i class="fa fa-sign-out"></i> Logout</button>
    </div>

    <section ng-controller="EventsController as events">
      <div class="events">
        <h2>Events</h2> 
         <section class="createEvent">
            <h2>Create Event</h2>
            <form ng-submit="events.addEvent(events.newEvent)">
              <input type="text" ng-model="events.newEvent.title" placeholder="Event title">
              <input type="number" ng-model="events.newEvent.lat" placeholder="Event lat">
              <input type="number" ng-model="events.newEvent.lng" placeholder="Event lng">
              <input type="submit" value="Create">
            </form>

            <p ng-show="events.selectedEvent">{{ events.selectedEvent.title }} </p>

            <li ng-repeat="event in events.events" ng-click="events.selectEvent(event)">
              {{ event.title }} // lat:{{ event.lat }} - lng: {{ event.lng }}
            </li>
          </section>
      </div>
    </section>
  </div>

  <!--   MAP -->
  <section ng-controller="MapController as map">
    <map center="map.mapCenter" markers="map.mapMarkers"></map>
  </section>

<!--   EVENTS -->
<!-- <div class="events">
  <h1>Events</h1> -->
<!--   <section ng-controller="EventsController as events"> -->

    <!-- CREATE Event -->
<!--     <section class="createEvent">
      <h2>Create Event</h2>
      <form ng-submit="events.createEvent(events.newEvent); events.showAllEventsSection()">
        <input type="text" ng-model="events.newEvent.title" placeholder="Event title">
        <input type="submit" value="Create">
      </form>
    </section>
  </section> -->
</div>

</body>
</html>








