h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1 {
  margin-top: -13px;
  margin-bottom: 18px;
  font-size: 73px;
  font-weight: 400;
  letter-spacing: -2px; 
  color:white;
  font-family: 'Fredoka One', cursive;
  }

  .navbar {
    margin-bottom:300px;
  }
  

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -1px;
  color: white !important; }

h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -1px; }

p {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-weight: 100;
  font-size: 14px; }
  p .fa-heart {
    color: #AA3939; }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  text-align: center;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.5px;
}

label {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

#showOneUser{
  border: 1px solid white;
  width: 370px;
  padding: 10px;
  font-size: 15px;
  background: rgba(0,0,0,0.6);
}

#showAllUser {
  margin: 15px;
}

#search {
  color: white;
}

#searchBar{
  margin-bottom: 30px !important;
}

#userProfileInfo{
  color: white;
  text-align: left;
}

#userProfileInfoName{
  color: white;
  text-align: center;
  font-size: 25px;
}

img.profile {
  margin-top: 2 0px;
  max-width: 125px;
  border-radius: 100%;
}

.container {
  padding: 40px;
  z-index: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  background: rgba(0,0,0,0.6);
  width: 450px;
  height: 600px;
  overflow: scroll;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 18px -2px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 1px 2px 18px -2px rgba(0, 0, 0, 0.9);
  box-shadow: 1px 2px 18px 10px rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.3s all linear;
  transition:all linear 0.3s;
  opacity:1;   
}

.container.ng-hide {
  opacity: 0;
}


.fa {
  float: left;
}

.infoWindow {
  background-color: red;
}
.navbar {
/*  position: fixed;
  top: 0px;*/
  -webkit-transition: 0.5s all linear;
  transition:all linear 0.5s;
  opacity:1;
}

.navbar.ng-hide {
  opacity: 0;
}
#navLi {
  color: white;
  border: 2px solid white;
  margin: 8px;
  padding: 5px;
  font-family: 'Quicksand', sans-serif;
/*  width: 106px;*/
  background-color: rgba(0,0,0,0.4);
}

#loggedAs{
  color: black;
}

.btn-default {
  color: white;
  border: 5px solid white;
  margin: 8px;
  padding: 5px;
  font-family: 'Quicksand', sans-serif;
  width: 106px;
  background-color: rgba(0,0,0,0.4);
}

#backButton {
  border: 1px solid white;
  color: white;
  width: 76px;
  height: 38px;
  padding: 0px;
}



#navLi:hover{
  /*background-color: rgba(0,0,0,0.8);*/
  background-color: white;
  color: black;
}

nav {
  padding-top: 0px; 
}

#eventsButton {
  z-index: 1;
  position: absolute;
}

.form-control {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

button {
  border: 0;
  background: none;
  width: 208px;
  margin: 5px;
  padding: 15px 20px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.5px;
  color: #fff;
  font-size: 16px;
  font-weight: 400; }
  button.facebook {
    margin-top: 45px;
    background: #46629E;
    border: 1px solid #3e578c; }
    button.facebook:hover {
      background: #415b93; }
  button.logout {
    margin-top: 45px;
    background: #c55151; }
    button.logout:hover {
      background: #a63838; 
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 120px;
  text-align: center;
}
/* Map */
.google-map {
  position: absolute;
  height: 100vh;
  width: 100%;
}

/*user info window*/

#userInfoWindowImage{
  border-radius: 50%;
  height: 100px;
}

#userInfoWindowName{
  position: relative;
  bottom: 5px;
  width: 100%;
  font-weight: 100;
  font-size: 20px;
  color: black;
}

.communitySection {
  color: white;
  margin-left: 0;
  float: left;
  font-size: 18px;
}

#communityUserImage {
  border-radius: 50%;
  height: 80px;

}

.events {
  border: 1px solid white;
  color: white !important;
  margin:10px;
  background-color;
  background: rgba(0,0,0,0.8);
  text-align: left;
  padding: 10px;
}

#eventInfoTitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.btnProfile {
  border: 1px solid white;
}

.gm-svpc{


  width: 35px !important;
  height: 35px !important;
  background-color: #01C2B6!important;
  border-radius: 50%!important;
  border: 3px solid white;

}

/*CHAT*/

#message-panel {
  height: calc(44vh - 45px);
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow-y: scroll;
  position: relative;
}

#message-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#message-panel ul li{
  padding: 3px 12px;
  width: calc(100% - 8px);
  border-radius: 4px;
  background-color: #4E639C;
  margin: 4px;
}

#message-panel ul li span.message {
  display: inline-block;
  width: 75%;
  color: white;
}

#message-panel ul li span.username {
  display: inline-block;
  width: calc(25% - 4px);
  text-align: right;
  color: white;
  font-weight: 600;
  font-style: italic;
}

/*#message-panel ul li.me {
  text-align: right;
  background-color: rgba(0, 221, 0, 0.6);
}
*/
.form-inline .form-group {
  width: 80%;
}

.form-inline .form-control {
  width: 100%;
}

/*---- MEDIA QUERIES ----*/

@media only screen and (max-width: 600px) {

  #directChatInput{
   width: 125%;
  }

  #slideButton {
    z-index: 1;
    position: relative;
    color: #00C5B8;
    font-size: 56px;
    margin-left: 80%;
    margin-top: 35px;

  }

  .container {
    padding: 35px; 
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: none;
    top:0;
  }

  #showOneUser {
    width: 308px;

  }

  ul {
    margin: 0;
    padding: 0;

  }

  .navbar {
    margin-bottom:300px;
  }
  
  li {
    margin: 0;
  }

  .fa-align-justify:before{
    font-size: 35px;
    margin-left: 2px;
  }

}

.fa-align-justify:before{
  font-size: 55px !important;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.gm-style-mtc {
  display: none;
}



/*//////////////////// SOCIAL MEDIA BUTTON //////////////////////////////////////*/

#social_button {
  text-align: center;
  margin-top: 20px;
}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a {
  border: 1px solid white;
  background-color: rgba(0,0,0,0.2);
}

/*////////////// footer social icons //////////////////////////////*/
.social-network a.icoRss {
  background-color: #F56505;

}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;

}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
  margin-left: 15px;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.rotate{
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rotate.down{
  -moz-transform:rotate(540deg);
  -webkit-transform:rotate(540deg);
  transform:rotate(540deg);
}








